body {
    background-image: url("../images/scroll.jpg");
    font-family: Caveat-Brush;
    font-size: 12pt;
}

.button{
    background-color: #7a7b83;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.cancel{
    background-color: #d81919;
}