body {
    margin: auto;
    max-width: 55rem;
    padding: 2rem;
}

.flex-container{
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-component{
    margin: 0.2rem;
    padding: 1rem;
}

.button{
    padding: 10px 75px;
    margin: 10px;
    display: inline-block;
    border-radius: 3px;
}