body {
  background-image: url("../images/book.jpg");
  font-family: Endor;
  font-size: 9pt;
  margin: auto;
  max-width: 55rem;
  padding: 2rem;
}

.book-layout {
  display: grid;
  grid-template-columns: 1fr 15px 1fr;
  grid-template-rows: 1fr 3.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "spell-slots spell-slots spell-slots"
    "left-page gutter right-page";
}
.spell-slots { 
  grid-area: spell-slots;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  background-color: #F6DBAE99;
}
.left-page { 
  grid-area: left-page; 
}

.gutter{
  grid-area: gutter;
}
.right-page { 
  grid-area: right-page; 
}

.left-page, .right-page{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 25px;
}

table{
  border: 0.5px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}

td, tr{
  text-align: center;
  background-color: rgba(255, 248, 220, 0.514);
}

.delete-button {
	box-shadow: 0px 10px 14px -7px #732727;
	background:linear-gradient(to bottom, #b35959 5%, #994040 100%);
	background-color:#b35959;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a3e3e;
}
.delete-button:hover {
	background:linear-gradient(to bottom, #994040 5%, #b35959 100%);
	background-color:#994040;
}
.delete-button:active {
	position:relative;
	top:1px;
}

.update-button {
	box-shadow: 0px 10px 14px -7px #707327;
	background:linear-gradient(to bottom, #b0b359 5%, #969940 100%);
	background-color:#b0b359;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a863e;
}
.update-button:hover {
	background:linear-gradient(to bottom, #969940 5%, #b0b359 100%);
	background-color:#969940;
}
.update-button:active {
	position:relative;
	top:1px;
}



.spell-slots input{
  height: 25px;
  width: 50px;

  text-align: center;
  background-image: url("../images/scroll.jpg");
  background-repeat: round;
  border: 1px solid black;
}

.spell-level{
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
