body {
  margin: auto;
  max-width: 55rem;
  padding: 2rem;
}

.book-layout {
  display: grid;
  grid-template-columns: 1fr 15px 1fr;
  grid-template-rows: 1fr 3.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "spell-slots spell-slots spell-slots"
    "left-page gutter right-page";
}
.spell-slots { 
  grid-area: spell-slots;
  display: flex;
  justify-content: space-evenly;
}

.left-page { 
  grid-area: left-page; 
}

.gutter{
  grid-area: gutter;
}
.right-page { 
  grid-area: right-page; 
}

.left-page, .right-page{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 25px;
}

table{
  margin-top: 5px;
  margin-bottom: 5px;
}

td, tr{
  text-align: center;
}

.spell-slots input{
  height: 25px;
  width: 50px;

  text-align: center;
}

.spell-level{
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
